#The nbgitpuller app allows MyBinder containers launched from this repo
# to pull in notebooks from another repo
nbgitpuller

#Base box additional Python package requirements below here
numpy

#plotting packages
matplotlib
bokeh
Pillow
seaborn
plotly

scipy
pandas

#Use the following for osgeo
pygdal=="`gdal-config --version`.*"

astropy
astroml
astroquery
