#The nbgitpuller app allows MyBinder containers launched from this repo
# to pull in notebooks from another repo
nbgitpuller

#Base box additional Python package requirements below here
numpy

#Utils
watermark

#plotting packages
matplotlib
bokeh
Pillow
seaborn
plotly

scipy
pandas

#Use the following for osgeo
#The version needs to match the GDAL version
#pygdal==2.2.3.*
#Auto handle this in postbuild using
#pip install pygdal=="`gdal-config --version`.*"

cartopy

astropy
astroml
astroquery
